.Header {
  padding: 5rem 2rem;
}

.BigText {
  font-size: 3.5rem;
  font-weight: 300;
}
.Navbar {
  margin-top: 5rem;
  padding: 0 1rem;
}

.NavList {
  list-style: none;
}

.NavList > li {
  margin-left: 3rem;
  display: inline-block;
}

.NavLink {
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--color-text-light-grey);
  transition: color 0.3s ease-in-out;
}

.NavLink:hover,
.NavLink:focus {
  color: var(--color-text-dark-grey);
}

.NavLinkActive {
  color: var(--color-text-dark-grey);
}
