.profile {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile .rounded-thumb {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin-right: 2rem;
  object-fit: cover;
  object-position: center;
}

.profile .username {
  font-size: 2.5rem;
}

.navbar {
  margin-top: 5rem;
  padding: 0 1rem;
}

.nav-list {
  list-style: none;
}

.nav-list > li {
  margin-left: 3rem;
  display: inline-block;
}

.nav-link {
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--color-text-light-grey);
  transition: color 0.3s ease-in-out;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--color-text-dark-grey);
}

.nav-link-active {
  color: var(--color-text-dark-grey);
}
