.Container {
  padding: 1rem;
  overflow: auto;
}

.Dropzone {
  border: 2px dashed rgb(219, 219, 219);
  padding: 1rem;
  transition: background-color 0.3s;
  cursor: pointer;
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-areas:
    'top'
    'bottom';
}

.Dropzone:hover {
  background-color: rgb(243, 243, 243);
}

.FullDropzone {
  height: 70vh;
}

.Command {
  font-size: 1.6rem;
  grid-area: top;
  justify-self: center;
  align-self: center;
}

.UploadIcon img {
  display: block;
  object-fit: contain;
  margin: auto;
}

.UploadIconBig img {
  width: 15rem;
  height: 15rem;
}

.UploadIconSmall img {
  width: 7rem;
  height: 7rem;
}

ul.Policies {
  font-size: 1.4rem;
  grid-area: bottom;
  column-count: 3;
  align-self: flex-end;
  justify-self: center;
}

ul.Policies li {
  padding-left: 0.5rem;
  margin: 0.4rem 0 0 2rem;
}

.PreviewContainer {
  margin-top: 1rem;
  width: 100%;
  height: 50vh;
}

.PreviewContainer .ImagePreview {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.UploadBtn {
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
  background-color: var(--color-primary-light);
  user-select: none;
  outline: none;
  border: none;
  transition: background-color 0.5s;
  height: 3.2rem;
  padding: 0.8rem 1rem;
  font-size: 1.4rem;
}

.UploadBtn:hover,
.UploadBtn:focus {
  background-color: var(--color-primary-dark);
}

.Footer {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid rgb(243, 243, 243);
  text-align: right;
}

.Underline {
  text-decoration: underline;
}

.SmallScreen {
  display: none;
}

@media screen and (max-width: 767px) {
  .SmallScreen {
    display: block;
  }

  .BigScreen {
    display: none;
  }
}
