.LoginPage {
  width: 100%;
  height: calc(100vh - 6.5rem);
  overflow: hidden;
  background-color: rgb(226, 226, 226);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
