.UserGrid {
  margin-top: 3rem;
  display: grid;
  grid-gap: 2rem;
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  /* grid-auto-flow: column; */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.UserGridItem {
  text-align: center;
  width: 15rem;
  height: 15rem;
}

.Link {
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--color-text-light-grey);
  transition: color 0.3s ease-in-out;
}

.Link:hover,
.Link:focus {
  color: var(--color-text-dark-grey);
}
