.NavContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 2rem;
  height: 6.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.NavContainer > *:not(:last-child) {
  margin-right: 4rem;
}

.BrandLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.6rem;
  color: #000;
}

.BrandLink .BrandLogo {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

.SearchBar {
  margin: 0 auto;
  flex: 0 0 30%;
  position: relative;
}

.SearchBar .SearchIcon {
  position: absolute;
  left: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 2rem;
  fill: var(--color-text-light-grey);
}

.SearchBar .SearchText {
  width: 100%;
  font-size: 1.6rem;
  padding: 1rem 4.5rem;
  border-radius: 5rem;
  border: 1px solid transparent;
  outline: none;
  background-color: var(--color-bg-light-grey-2);
  transition: border 0.3s, background-color 0.3s;
}

.SearchBar .SearchText:hover,
.SearchBar .SearchText:focus {
  border: 1px solid var(--color-bg-light-grey-3);
}

.SearchBar .SearchText:focus {
  background-color: var(--color-bg-light-grey-1);
}

.Notification {
  margin-left: auto;
  position: relative;
  cursor: pointer;
}

.Notification .NotificationBell {
  fill: var(--color-text-light-grey);
}

.Notification .NotificationBell:hover {
  fill: var(--color-text-dark-grey);
}

.Notification .NotificationNumber {
  position: absolute;
  top: -4px;
  right: -4px;
  display: inline-block;
  border-radius: 50%;
  width: 1.5rem;
  text-align: center;
  background-color: red;
  color: #fff;
}

.PrimaryBtn {
  font-size: 1.6rem;
  display: inline-block;
  padding: 0.4rem 1.2rem;
  cursor: pointer;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
  background-color: var(--color-primary-light);
  user-select: none;
  outline: none;
  border: none;
  transition: background-color 0.5s;
}

.PrimaryBtn:hover,
.PrimaryBtn:focus {
  background-color: var(--color-primary-dark);
}

.UploadBtn {
  margin-left: auto;
  font-size: 1.6rem;
  padding: 0.4rem 1.2rem;
  text-decoration: none;
  color: var(--color-text-light-grey);
  border-radius: 3px;
  border: 1px solid var(--color-text-light-grey);
  transition: color 0.3s ease-in-out;
}

.UploadBtn:hover,
.UploadBtn:focus {
  border: 1px solid var(--color-text-dark-grey);
  color: var(--color-text-dark-grey);
}

.Profile {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.Profile .RoundedThumb {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 1rem;
  object-fit: cover;
  object-position: center;
}

.Mobile {
  display: none;
}

@media only screen and (max-width: 867px) {
  .UploadTextBig {
    display: none;
  }

  .SearchBar {
    flex: 0 0 45%;
  }

  .BrandLink .BrandName {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .BigScreen {
    display: none;
  }

  .Mobile {
    display: inline-block;
    fill: var(--color-text-light-grey);
    transition: all 0.5s;
  }

  .Mobile:hover,
  .Mobile:active,
  .Mobile:focus {
    fill: var(--color-text-dark-grey);
  }

  .NavContainer > *:not(:last-child) {
    margin-right: 0;
  }

  .Notification {
    margin-left: 0;
  }

  .AddPhotoIcon {
    width: 3.2rem;
    height: 3.2rem;
  }
}
