.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 2rem;
  height: 6.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.brand {
  display: flex;
  align-items: center;
}

.brand-logo {
  background-image: url('../../assets/images/logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

.nav-list {
  list-style: none;
}

.nav-list > li {
  margin-left: 3rem;
  display: inline-block;
}

.nav-link {
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--color-text-light-grey);
  transition: color 0.3s ease-in-out;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--color-text-dark-grey);
}

.nav-link-active {
  color: var(--color-text-dark-grey);
}
