.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}

.navbar {
  width: 96%;
  margin: 0 auto;
  height: 6.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-logo {
  background-image: url('../../assets/images/logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

.brand {
  display: flex;
  align-items: center;
}

.nav {
  list-style: none;
}

.nav li {
  margin-left: 3rem;
  display: inline-block;
}

.nav-link:hover,
.nav-link:focus {
  color: #000000;
}

.nav-link {
  font-size: 1.6rem;
  text-decoration: none;
  color: #3c4652;
  transition: color 0.3s ease-in-out;
}
