.hero {
  margin-top: 65px;
  min-height: 400px;
  height: 70vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('../../assets/images/hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-text {
  color: #fff;
  font-weight: 600;
  font-size: 40px;
  width: 400px;
  letter-spacing: 0.04rem;
  text-shadow: 1px 1px 3px rgb(187, 187, 187);
}
