.Hero {
  margin-top: 6.5rem;
  min-height: 400px;
  height: 70vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('../../assets/images/hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.LandingText {
  color: #fff;
  font-weight: 600;
  font-size: 4rem;
  width: 40rem;
  letter-spacing: 0.04rem;
  text-shadow: 1px 1px 3px rgb(187, 187, 187);
}

@media only screen and (max-width: 767px) {
  .LandingText {
    font-size: 3rem;
    width: 30rem;
  }
}
