.Hero {
  margin-top: 6.5rem;
  min-height: 400px;
  height: 70vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('../../assets/images/hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.LandingText {
  color: #fff;
  font-weight: 600;
  font-size: 4rem;
  width: 40rem;
  letter-spacing: 0.04rem;
  text-shadow: 1px 1px 3px rgb(187, 187, 187);
}

.Mobile {
  display: none;
}

@media only screen and (max-width: 767px) {
  .LandingText {
    font-size: 3rem;
    width: 30rem;
  }

  .PrimaryBtn {
    margin-top: 1rem;
    font-size: 1.6rem;
    display: inline-block;
    padding: 0.4rem 1.2rem;
    cursor: pointer;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    background-color: var(--color-primary-light);
    user-select: none;
    outline: none;
    border: none;
    transition: background-color 0.5s;
  }

  .PrimaryBtn:hover,
  .PrimaryBtn:focus {
    background-color: var(--color-primary-dark);
  }

  .Mobile {
    display: inline-block;
  }
}
